In [3]:
#Data preprocessing libraries
import pandas as pd  #Data manipulation
import string  #Remove punctuation & characters
import nltk  #Natural language processing 
import pickle  #For loading saved models and vectorizers
import re


from nltk.corpus import stopwords  #Stop word removal
from nltk.tokenize import word_tokenize  #Tokenizition
#from nltk.stem import PorterStemmer  #Stemming
from nltk.stem import WordNetLemmatizer  #Import WordNetLemmatizer
from nltk.corpus import wordnet  #Import WordNet

#Feature extractions libraries
import string
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

#Models libraries
from sklearn.model_selection import train_test_split #For data splitting
#Model Evaluation Function
from sklearn.metrics import accuracy_score, classification_report  #Import metrics
from sklearn.svm import SVC  #SVM Model
from sklearn.naive_bayes import MultinomialNB #Naive Bayes Model -  MultinomialNB 
from sklearn.ensemble import RandomForestClassifier #Random Forest Model

In [4]:
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('averaged_perceptron_tagger')
nltk.download('wordnet')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\s7r_2\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\s7r_2\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\s7r_2\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\s7r_2\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [5]:
#Read excel file
data = pd.read_csv(r'C:\Users\s7r_2\Downloads\bbc-text (1).csv')
data.head()

,Unnamed: 0,category,text,cleaned_text,tokens,lemmatized,lemmatized_text
0,0,tech,tv future in the hands of viewers with home th...,tv future in the hands of viewers with home th...,"['tv', 'future', 'hands', 'viewers', 'home', '...","['tv', 'future', 'hand', 'viewer', 'home', 'th...",tv future hand viewer home theatre system plas...
1,1,business,worldcom boss left books alone former worldc...,worldcom boss left books alone former worldcom...,"['worldcom', 'boss', 'left', 'books', 'alone',...","['worldcom', 'bos', 'leave', 'book', 'alone', ...",worldcom bos leave book alone former worldcom ...
2,2,sport,tigers wary of farrell gamble leicester say ...,tigers wary of farrell gamble leicester say th...,"['tigers', 'wary', 'farrell', 'gamble', 'leice...","['tiger', 'wary', 'farrell', 'gamble', 'leices...",tiger wary farrell gamble leicester say rush m...
3,3,sport,yeading face newcastle in fa cup premiership s...,yeading face newcastle in fa cup premiership s...,"['yeading', 'face', 'newcastle', 'fa', 'cup', ...","['yeading', 'face', 'newcastle', 'fa', 'cup', ...",yeading face newcastle fa cup premiership side...
4,4,entertainment,ocean s twelve raids box office ocean s twelve...,ocean s twelve raids box office ocean s twelve...,"['ocean', 'twelve', 'raids', 'box', 'office', ...","['ocean', 'twelve', 'raid', 'box', 'office', '...",ocean twelve raid box office ocean twelve crim...

In [25]:
# دالة لإزالة الرموز غير ASCII
def _removeNonAscii(s): 
    return "".join(i for i in s if ord(i) < 128)

# دالة لتنظيف النصوص
def clean_text(text):
    # تأكد من أن المتغير هو نص
    if not isinstance(text, str):
        return ""
    
    text = text.lower()
    text = re.sub(r"what's", "what is ", text)
    text = text.replace('(ap)', '')
    text = re.sub(r"\'s", " is ", text)
    text = re.sub(r"\'ve", " have ", text)
    text = re.sub(r"can't", "cannot ", text)
    text = re.sub(r"n't", " not ", text)
    text = re.sub(r"i'm", "i am ", text)
    text = re.sub(r"\'re", " are ", text)
    text = re.sub(r"\'d", " would ", text)
    text = re.sub(r"\'ll", " will ", text)
    text = re.sub(r'\W+', ' ', text)
    text = re.sub(r'\s+', ' ', text)
    text = re.sub(r"\\", "", text)
    text = re.sub(r"\'", "", text)    
    text = re.sub(r"\"", "", text)
    text = re.sub('[^a-zA-Z ?!]+', '', text)
    text = _removeNonAscii(text)
    text = text.strip()
    return text

# تحويل قائمة الكلمات إلى نص مفرد
def list_to_string(tokens):
    return ' '.join(tokens)

# تأكد من وجود عمود 'tokens' كقوائم
# تطبيق دالة تحويل القوائم إلى نصوص ثم دالة التنظيف على عمود tokens
data['cleaned_text'] = data['text'].apply(clean_text)

# عرض أول خمس صفوف من DataFrame بعد التنظيف
data.head()

,category,text,cleaned_text
0,tech,tv future in the hands of viewers with home th...,tv future in the hands of viewers with home th...
1,business,worldcom boss left books alone former worldc...,worldcom boss left books alone former worldcom...
2,sport,tigers wary of farrell gamble leicester say ...,tigers wary of farrell gamble leicester say th...
3,sport,yeading face newcastle in fa cup premiership s...,yeading face newcastle in fa cup premiership s...
4,entertainment,ocean s twelve raids box office ocean s twelve...,ocean s twelve raids box office ocean s twelve...

In [26]:
# تحميل قائمة الكلمات الشائعة باللغة الإنجليزية
stop_words = set(stopwords.words('english'))

# دالة لتوكنة النصوص وإزالة الكلمات الشائعة
def tokenize_and_remove_stopwords(text):
    if not isinstance(text, str):  # تحقق من أن المدخل هو نص
        return []
    
    # توكنة النص
    tokens = nltk.word_tokenize(text)
    # إزالة الكلمات الشائعة
    filtered_tokens = [word for word in tokens if word.lower() not in stop_words]
    
    return filtered_tokens

# تطبيق دالة توكنة النصوص وإزالة الكلمات الشائعة على عمود 'cleaned_text'
data['tokens'] = data['cleaned_text'].apply(tokenize_and_remove_stopwords)
# عرض أول خمس صفوف من DataFrame بعد معالجة النصوص
data.head()

,category,text,cleaned_text,tokens
0,tech,tv future in the hands of viewers with home th...,tv future in the hands of viewers with home th...,"[tv, future, hands, viewers, home, theatre, sy..."
1,business,worldcom boss left books alone former worldc...,worldcom boss left books alone former worldcom...,"[worldcom, boss, left, books, alone, former, w..."
2,sport,tigers wary of farrell gamble leicester say ...,tigers wary of farrell gamble leicester say th...,"[tigers, wary, farrell, gamble, leicester, say..."
3,sport,yeading face newcastle in fa cup premiership s...,yeading face newcastle in fa cup premiership s...,"[yeading, face, newcastle, fa, cup, premiershi..."
4,entertainment,ocean s twelve raids box office ocean s twelve...,ocean s twelve raids box office ocean s twelve...,"[ocean, twelve, raids, box, office, ocean, twe..."

In [27]:
import nltk
from nltk.stem import WordNetLemmatizer
from nltk.corpus import wordnet

# تحميل wordnet وملفات التصنيف النحوي
nltk.download('wordnet')
nltk.download('averaged_perceptron_tagger')

# تهيئة WordNetLemmatizer
wn = WordNetLemmatizer()

# دالة لتحويل التصنيف النحوي من NLTK إلى WordNet
def get_wordnet_pos(tag):
    if tag.startswith('J'):
        return wordnet.ADJ
    elif tag.startswith('V'):
        return wordnet.VERB
    elif tag.startswith('N'):
        return wordnet.NOUN
    elif tag.startswith('R'):
        return wordnet.ADV
    else:
        return wordnet.NOUN  # الافتراضي هو الاسم

# دالة التجذير (lemmatizing) مع التصنيف النحوي
def lemmatizing(tokens):
    # تصنيف الكلمات النحوي
    pos_tags = nltk.pos_tag(tokens)
    # تطبيق التجذير باستخدام التصنيف النحوي
    return [wn.lemmatize(word, get_wordnet_pos(tag)) for word, tag in pos_tags]

# تطبيق دالة lemmatizing على عمود 'tokens'
data['lemmatized'] = data['tokens'].apply(lemmatizing)

# عرض أول خمس صفوف للتحقق من النتائج
data.head()

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\s7r_2\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\s7r_2\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

,category,text,cleaned_text,tokens,lemmatized
0,tech,tv future in the hands of viewers with home th...,tv future in the hands of viewers with home th...,"[tv, future, hands, viewers, home, theatre, sy...","[tv, future, hand, viewer, home, theatre, syst..."
1,business,worldcom boss left books alone former worldc...,worldcom boss left books alone former worldcom...,"[worldcom, boss, left, books, alone, former, w...","[worldcom, bos, leave, book, alone, former, wo..."
2,sport,tigers wary of farrell gamble leicester say ...,tigers wary of farrell gamble leicester say th...,"[tigers, wary, farrell, gamble, leicester, say...","[tiger, wary, farrell, gamble, leicester, say,..."
3,sport,yeading face newcastle in fa cup premiership s...,yeading face newcastle in fa cup premiership s...,"[yeading, face, newcastle, fa, cup, premiershi...","[yeading, face, newcastle, fa, cup, premiershi..."
4,entertainment,ocean s twelve raids box office ocean s twelve...,ocean s twelve raids box office ocean s twelve...,"[ocean, twelve, raids, box, office, ocean, twe...","[ocean, twelve, raid, box, office, ocean, twel..."

In [12]:
data['lemmatized_text'] = data['lemmatized'].apply(lambda x: ' '.join(x)) #To convert the texts in the “lemmatized” column into single texts by joining the words using spaces.
data.head()

,Unnamed: 0,category,text,cleaned_text,tokens,lemmatized,lemmatized_text
0,0,tech,tv future in the hands of viewers with home th...,tv future in the hands of viewers with home th...,"['tv', 'future', 'hands', 'viewers', 'home', '...","['tv', 'future', 'hand', 'viewer', 'home', 'th...","[ ' t v ' , ' f u t u r e ' , ' h a n d ' ..."
1,1,business,worldcom boss left books alone former worldc...,worldcom boss left books alone former worldcom...,"['worldcom', 'boss', 'left', 'books', 'alone',...","['worldcom', 'bos', 'leave', 'book', 'alone', ...","[ ' w o r l d c o m ' , ' b o s ' , ' l e ..."
2,2,sport,tigers wary of farrell gamble leicester say ...,tigers wary of farrell gamble leicester say th...,"['tigers', 'wary', 'farrell', 'gamble', 'leice...","['tiger', 'wary', 'farrell', 'gamble', 'leices...","[ ' t i g e r ' , ' w a r y ' , ' f a r r ..."
3,3,sport,yeading face newcastle in fa cup premiership s...,yeading face newcastle in fa cup premiership s...,"['yeading', 'face', 'newcastle', 'fa', 'cup', ...","['yeading', 'face', 'newcastle', 'fa', 'cup', ...","[ ' y e a d i n g ' , ' f a c e ' , ' n e ..."
4,4,entertainment,ocean s twelve raids box office ocean s twelve...,ocean s twelve raids box office ocean s twelve...,"['ocean', 'twelve', 'raids', 'box', 'office', ...","['ocean', 'twelve', 'raid', 'box', 'office', '...","[ ' o c e a n ' , ' t w e l v e ' , ' r a ..."

In [11]:
data.drop(columns=['lemmatized_text'], errors='ignore', inplace=True)

In [17]:
from sklearn.feature_extraction.text import CountVectorizer  # تأكد من استيراد CountVectorizer

#Bag of Words (BoW)
bow_vectorizer = CountVectorizer(min_df=5)  # يمكنك تجربة قيم أعلى حسب حجم البيانات
bow_matrix = bow_vectorizer.fit_transform(data['lemmatized'])
bow_df = pd.DataFrame.sparse.from_spmatrix(bow_matrix, columns=bow_vectorizer.get_feature_names_out())
print(bow_df)

      aaa  aaas  aaron  abandon  abandonment  abbott  abc  abide  ability  \
0       0     0      0        0            0       0    0      1        0
1       0     0      0        0            0       0    0      0        1
2       0     0      0        0            0       0    0      0        0
3       0     0      0        0            0       0    0      0        0
4       0     0      0        0            0       0    0      0        0
...   ...   ...    ...      ...          ...     ...  ...    ...      ...
2220    0     0      0        0            0       0    0      0        0
2221    0     0      0        0            0       0    0      0        0
2222    0     0      0        0            0       0    0      0        0
2223    0     0      0        0            0       0    0      0        0
2224    0     0      0        0            0       0    0      0        0

      able  ...  zach  zealand  zeppelin  zero  zhang  zimbabwe  zombie  zone  \
0        0  ...     0        0         0     0      0         0       0     0
1        0  ...     0        0         0     0      0         0       0     0
2        0  ...     0        0         0     0      0         0       0     0
3        0  ...     0        0         0     0      0         0       0     0
4        0  ...     0        0         0     0      0         0       0     0
...    ...  ...   ...      ...       ...   ...    ...       ...     ...   ...
2220     0  ...     0        0         0     0      0         0       0     0
2221     0  ...     0        0         0     0      0         0       0     0
2222     0  ...     0        0         0     0      0         0       0     0
2223     0  ...     0        0         0     0      0         0       0     0
2224     0  ...     0        0         0     0      0         0       0     0

      zoom  zurich
0        0       0
1        0       0
2        0       0
3        0       0
4        0       0
...    ...     ...
2220     0       0
2221     0       0
2222     0       0
2223     0       0
2224     0       0

[2225 rows x 7085 columns]

In [21]:
import pickle
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

#TF-IDF
tfidf_BBC = TfidfVectorizer(min_df=1)#Ignore rare words
tfidf_matrix = tfidf_BBC.fit_transform(data['lemmatized'])#tfidf_matrix-Represents the weight of each word based on its frequency.
#Fit_transform-To convert texts to a matrix.

#Convert to DataFrame to display the data more clearly
tfidf_df = pd.DataFrame(tfidf_matrix.toarray(), columns=tfidf_BBC.get_feature_names_out())

print("\nTF-IDF Matrix:")
print(tfidf_df)
with open("tfidf_BBC.pickle", "wb") as file:
    pickle.dump(tfidf_BBC, file)

TF-IDF Matrix:
       aa  aaa  aaas  aac  aadc  aaliyah  aaltra  aamir  aan  aara  ...  zoom  \
0     0.0  0.0   0.0  0.0   0.0      0.0     0.0    0.0  0.0   0.0  ...   0.0
1     0.0  0.0   0.0  0.0   0.0      0.0     0.0    0.0  0.0   0.0  ...   0.0
2     0.0  0.0   0.0  0.0   0.0      0.0     0.0    0.0  0.0   0.0  ...   0.0
3     0.0  0.0   0.0  0.0   0.0      0.0     0.0    0.0  0.0   0.0  ...   0.0
4     0.0  0.0   0.0  0.0   0.0      0.0     0.0    0.0  0.0   0.0  ...   0.0
...   ...  ...   ...  ...   ...      ...     ...    ...  ...   ...  ...   ...
2220  0.0  0.0   0.0  0.0   0.0      0.0     0.0    0.0  0.0   0.0  ...   0.0
2221  0.0  0.0   0.0  0.0   0.0      0.0     0.0    0.0  0.0   0.0  ...   0.0
2222  0.0  0.0   0.0  0.0   0.0      0.0     0.0    0.0  0.0   0.0  ...   0.0
2223  0.0  0.0   0.0  0.0   0.0      0.0     0.0    0.0  0.0   0.0  ...   0.0
2224  0.0  0.0   0.0  0.0   0.0      0.0     0.0    0.0  0.0   0.0  ...   0.0

      zooropa  zornotza  zorro  zubair  zuluaga  zurich  zutons  zvonareva  \
0         0.0       0.0    0.0     0.0      0.0     0.0     0.0        0.0
1         0.0       0.0    0.0     0.0      0.0     0.0     0.0        0.0
2         0.0       0.0    0.0     0.0      0.0     0.0     0.0        0.0
3         0.0       0.0    0.0     0.0      0.0     0.0     0.0        0.0
4         0.0       0.0    0.0     0.0      0.0     0.0     0.0        0.0
...       ...       ...    ...     ...      ...     ...     ...        ...
2220      0.0       0.0    0.0     0.0      0.0     0.0     0.0        0.0
2221      0.0       0.0    0.0     0.0      0.0     0.0     0.0        0.0
2222      0.0       0.0    0.0     0.0      0.0     0.0     0.0        0.0
2223      0.0       0.0    0.0     0.0      0.0     0.0     0.0        0.0
2224      0.0       0.0    0.0     0.0      0.0     0.0     0.0        0.0

      zvyagintsev
0             0.0
1             0.0
2             0.0
3             0.0
4             0.0
...           ...
2220          0.0
2221          0.0
2222          0.0
2223          0.0
2224          0.0

[2225 rows x 23136 columns]

In [57]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report
from sklearn.svm import SVC
from sklearn.naive_bayes import MultinomialNB
from sklearn.ensemble import RandomForestClassifier
import pickle

# إعداد البيانات للتقسيم
X = tfidf_matrix
y = data['category'] 

#Train-Test Split
X_train, X_test, y_train, y_test = train_test_split(tfidf_matrix, y, test_size=0.2, random_state=42)  #Split data

#Function to evaluate model performance
def evaluate_model(model, X_test, y_test):
    predictions = model.predict(X_test)  #Make predictions
    accuracy = accuracy_score(y_test, predictions)  #Calculate accuracy
    report = classification_report(y_test, predictions)  #Generate classification report
    return accuracy, report



svm_model = SVC(kernel='linear', class_weight='balanced')  #Initialize SVM model with linear kernel and class weights
svm_model.fit(X_train, y_train)  #Train the model
svm_accuracy, svm_report = evaluate_model(svm_model, X_test, y_test)  #Evaluate SVM
print("SVM Accuracy:", svm_accuracy)  #Print accuracy
print("SVM Classification Report:\n", svm_report)  #Print classification report


nb_model = MultinomialNB()  #Initialize Naive Bayes model
nb_model.fit(X_train, y_train)  #Train the model
nb_accuracy, nb_report = evaluate_model(nb_model, X_test, y_test)  #Evaluate Naive Bayes
print("Naive Bayes Accuracy:", nb_accuracy)  #Print accuracy
print("Naive Bayes Classification Report:\n", nb_report)  #Print classification report


rf_model = RandomForestClassifier(class_weight='balanced', random_state=42)  #Initialize Random Forest model with class weights
rf_model.fit(X_train, y_train)  #Train the model
rf_accuracy, rf_report = evaluate_model(rf_model, X_test, y_test)  #Evaluate Random Forest
print("Random Forest Accuracy:", rf_accuracy)  #Print accuracy
print("Random Forest Classification Report:\n", rf_report)  #Print classification report
with open("model_bbc.pickle", "wb") as model_file:
    pickle.dump(svm_model, model_file)

SVM Accuracy: 0.9685393258426966
SVM Classification Report:
                precision    recall  f1-score   support

     business       0.96      0.92      0.94       101
entertainment       0.98      0.99      0.98        81
     politics       0.94      0.96      0.95        83
        sport       0.98      1.00      0.99        98
         tech       0.99      0.98      0.98        82

     accuracy                           0.97       445
    macro avg       0.97      0.97      0.97       445
 weighted avg       0.97      0.97      0.97       445

Naive Bayes Accuracy: 0.9573033707865168
Naive Bayes Classification Report:
                precision    recall  f1-score   support

     business       0.94      0.94      0.94       101
entertainment       1.00      0.89      0.94        81
     politics       0.92      0.98      0.95        83
        sport       0.99      1.00      0.99        98
         tech       0.94      0.98      0.96        82

     accuracy                           0.96       445
    macro avg       0.96      0.96      0.96       445
 weighted avg       0.96      0.96      0.96       445

Random Forest Accuracy: 0.946067415730337
Random Forest Classification Report:
                precision    recall  f1-score   support

     business       0.90      0.95      0.92       101
entertainment       0.99      0.90      0.94        81
     politics       0.94      0.94      0.94        83
        sport       0.98      0.99      0.98        98
         tech       0.94      0.94      0.94        82

     accuracy                           0.95       445
    macro avg       0.95      0.94      0.95       445
 weighted avg       0.95      0.95      0.95       445

In [25]:
import pickle
import re
from sklearn.linear_model import LogisticRegression
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split

# دالة معالجة البيانات
def preprocess_data(text):
    text = text.lower()  # تحويل النص إلى حروف صغيرة
    text = re.sub(r'[^\w\s\'\"]', '', text)  # إزالة علامات الترقيم
    return text

# التأكد من عدم وجود نصوص فارغة
data = data[data['lemmatized_text'].notnull() & (data['lemmatized_text'] != '')]

# معالجة البيانات
data['lemmatized_text'] = data['lemmatized_text'].apply(preprocess_data)

# إنشاء مصفوفة TF-IDF
tfidf_BBC = TfidfVectorizer(min_df=5)
tfidf_matrix = tfidf_BBC.fit_transform(data['lemmatized'])

# إعداد البيانات
X = tfidf_matrix
y = data['category']

# تقسيم البيانات
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# تدريب نموذج الانحدار اللوجستي
lg_model = LogisticRegression(max_iter=200, verbose=1)
lg_model.fit(X_train, y_train)

# حفظ النموذج وtfidf_vectorizer
with open("model_bbc.pickle", "rb") as model_file:
    svm_model = pickle.load(model_file)

with open("tfidf_BBC.pickle", "rb") as file:
    tfidf_BBC = pickle.load(file)


    
# دالة التنبؤ
def predict_category(text):
    cleaned_text = preprocess_data(text)  # معالجة النص
    tfidf_data = tfidf_BBC.transform([cleaned_text])  # تحويل النص إلى تمثيل TF-IDF
    prediction = svm_model.predict(tfidf_data)  # إجراء التنبؤ
    return prediction[0]  # إرجاع الفئة المتوقعة


# اختبار دالة التنبؤ
new_text = "worldcom boss  left books alone  former worldcom boss bernie ebbers  who is accused of overseeing an $11bn"
predicted_category = predict_category(new_text)
print(f"The predicted category is: {predicted_category}")

The predicted category is: business

In [ ]:
import os
import sys
import pickle
from pathlib import Path
import tkinter as tk
from tkinter import messagebox

# تحميل النموذج و TF-IDF Vectorizer
with open("model_bbc.pickle", "rb") as model_file:
    svm_model = pickle.load(model_file)

with open("tfidf_BBC.pickle", "rb") as file:
    tfidf_BBC = pickle.load(file)

# دالة المعالجة المسبقة للنصوص
def preprocess_data(text):
    text = text.lower()
    text = re.sub(r'[^\w\s\'\"]', '', text)
    return text

# دالة التصنيف باستخدام النموذج المحمل
def predict_category(text):
    cleaned_text = preprocess_data(text)  # معالجة النص
    tfidf_data = tfidf_BBC.transform([cleaned_text])  # تحويل النص إلى تمثيل TF-IDF
    prediction = svm_model.predict(tfidf_data)  # إجراء التنبؤ
    return prediction[0]  # إرجاع الفئة المتوقعة


# دالة لتصنيف النص وإظهار النتيجة
def classify_text():
    text = entry.get()
    if not text.strip():
        messagebox.showwarning("خطأ", "الرجاء إدخال نص للتصنيف!")
        return
    category = predict_category(text)
    result_label.config(text=f"نوع الخبر: {category}")

# دالة لمسح النص
def clear_text():
    entry.delete(0, tk.END)
    result_label.config(text="")

# إعداد النافذة الرئيسية
root = tk.Tk()
root.geometry("800x500")
root.title("News Classification")

# إعداد العناصر في واجهة المستخدم
label1 = tk.Label(root, text="محلل تصنيف الأخبار", font=("Helvetica", 14))
label1.pack(pady=10)

label2 = tk.Label(root, text="أدخل النص:", font=("Helvetica", 12))
label2.pack(pady=5)

entry = tk.Entry(root, font=("Helvetica", 12), width=50)
entry.pack(pady=5)

classify_button = tk.Button(root, text="تصنيف", command=classify_text, font=("Helvetica", 12), bg="#002179", fg="white")
classify_button.pack(pady=10)

clear_button = tk.Button(root, text="مسح النص", command=clear_text, font=("Helvetica", 12), bg="#d9534f", fg="white")
clear_button.pack(pady=5)

result_label = tk.Label(root, text="", font=("Helvetica", 16), fg="blue")
result_label.pack(pady=20)

# بدء تشغيل النافذة
root.mainloop()